In [3]:
import os
import pandas as pd

In [4]:
os.listdir('./machine_learning_data')

['friend.csv']

In [5]:
# 데이터 폴더 src 변수 할당
base_src = './machine_learning_data'

friend_src = base_src + '/friend.csv'

In [6]:
friend_src

'./machine_learning_data/friend.csv'

In [7]:
df = pd.read_csv(friend_src, encoding='utf-8')

In [8]:
# head() 데이터를 5개만 읽기
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [9]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [10]:
new_friend_src = base_src + "/new_friend_index_true.csv"

In [11]:
df.to_csv(new_friend_src, index = False, encoding = 'utf-8')

In [12]:
os.listdir(base_src)

['new_friend.csv', 'friend.csv']

In [13]:
# Series 실습
import numpy as np

np.array([1, 2, 3])

array([1, 2, 3])

In [14]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [15]:
# 데이터프레임(집합) => 시리즈 (단일) => 데이터프레임
series = df['name']
series

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [16]:
series = pd.Series([1, 2, 3, 4])
series

0    1
1    2
2    3
3    4
dtype: int64

In [17]:
#pd.Series의 옵션이 무엇이 있는지 확인 
series = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'], dtype = float)
series

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [18]:
series = pd.Series([10, 2, 5, 4], index = ['a', 'b', 'c', 'd'], dtype = float)
series = series.sort_values(ascending=True)

In [19]:
series.sort_values(ascending=False)

a    10.0
c     5.0
d     4.0
b     2.0
dtype: float64

In [21]:
df = pd.DataFrame({ 'a':[2,3], 'b':[5,10]})
df

   a   b
0  2   5
1  3  10

In [22]:
new_dict = {'a':2, 'b':3}

In [23]:
for item,value in new_dict.items():
    print("item : ", item)
    print("value : ", value)

item :  a
value :  2
item :  b
value :  3

In [25]:
df = pd.DataFrame([[2, 5], [3, 10], [10, 20]], columns=['a', 'b'])
df

    a   b
0   2   5
1   3  10
2  10  20

In [27]:
df = pd.DataFrame([[2, 5, 100], [3, 10, 200], [10, 20, 300]], 
                  columns=['a', 'b', 'c'], index=['가', '니', '디'], dtype=float)
df

      a     b      c
가   2.0   5.0  100.0
니   3.0  10.0  200.0
디  10.0  20.0  300.0