In [1]:
import os
import pandas as pd

In [2]:
os.listdir('./machine_learning_data')

['new_friend.csv', 'friend.csv', 'new_friend_index_true.csv']

In [3]:
# 데이터 폴더 src 변수 할당
base_src = './machine_learning_data'

friend_src = base_src + '/friend.csv'

In [4]:
friend_src

'./machine_learning_data/friend.csv'

In [5]:
df = pd.read_csv(friend_src, encoding='utf-8')

In [6]:
# head() 데이터를 5개만 읽기
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [7]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [8]:
new_friend_src = base_src + "/new_friend_index_true.csv"

In [9]:
df.to_csv(new_friend_src, index = False, encoding = 'utf-8')

In [10]:
os.listdir(base_src)

['new_friend.csv', 'friend.csv', 'new_friend_index_true.csv']

In [11]:
# Series 실습
import numpy as np

np.array([1, 2, 3])

array([1, 2, 3])

In [12]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [13]:
# 데이터프레임(집합) => 시리즈 (단일) => 데이터프레임
series = df['name']
series

0     John
1    Jenny
2     Nate
3    Julia
4    Brian
5    Chris
Name: name, dtype: object

In [14]:
series = pd.Series([1, 2, 3, 4])
series

0    1
1    2
2    3
3    4
dtype: int64

In [15]:
#pd.Series의 옵션이 무엇이 있는지 확인 
series = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'], dtype = float)
series

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [16]:
series = pd.Series([10, 2, 5, 4], index = ['a', 'b', 'c', 'd'], dtype = float)
series = series.sort_values(ascending=True)

In [17]:
series.sort_values(ascending=False)

a    10.0
c     5.0
d     4.0
b     2.0
dtype: float64

In [18]:
df = pd.DataFrame({ 'a':[2,3], 'b':[5,10]})
df

   a   b
0  2   5
1  3  10

In [19]:
new_dict = {'a':2, 'b':3}

In [20]:
for item,value in new_dict.items():
    print("item : ", item)
    print("value : ", value)

item :  a
value :  2
item :  b
value :  3

In [21]:
df = pd.DataFrame([[2, 5], [3, 10], [10, 20]], columns=['a', 'b'])
df

    a   b
0   2   5
1   3  10
2  10  20

In [22]:
df = pd.DataFrame([[2, 5, 100], [3, 10, 200], [10, 20, 300]], 
                  columns=['a', 'b', 'c'], index=['가', '니', '디'], dtype=float)
df

      a     b      c
가   2.0   5.0  100.0
니   3.0  10.0  200.0
디  10.0  20.0  300.0

In [54]:
# DataFrame 행, 열 선택 및 핉터링 -> 중요 
df = pd.read_csv(friend_src, encoding= 'utf-8')
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [24]:
# index 2번에 해당하는 row 가져오기 
df.iloc[4]

name      Brian
age          45
job     manager
Name: 4, dtype: object

In [25]:
df.iloc[[2]]

   name  age      job
2  Nate   30  teacher

In [26]:
df['job']

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [27]:
df.loc[:, 'job'] # 문자 (: 전체의 의미)

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [28]:
df.iloc[:, 2] # 숫자

0      student
1    developer
2      teacher
3      dentist
4      manager
5       intern
Name: job, dtype: object

In [29]:
df.iloc[1, 2] # 중요!!

'developer'

In [30]:
df.iloc[2:4]

    name  age      job
2   Nate   30  teacher
3  Julia   40  dentist

In [31]:
df.iloc[:2]

    name  age        job
0   John   20    student
1  Jenny   30  developer

In [32]:
df.iloc[:, :2]

    name  age
0   John   20
1  Jenny   30
2   Nate   30
3  Julia   40
4  Brian   45
5  Chris   25

In [53]:
df.index = [1,2,3,4,5,6]
df

ValueError: Length mismatch: Expected axis has 3 elements, new values have 6 elements

In [34]:
df.loc[2, :]

name        Jenny
age            30
job     developer
Name: 2, dtype: object

In [35]:
df.iloc[2, :]

name       Nate
age          30
job     teacher
Name: 3, dtype: object

In [36]:
df['new_columns'] = [1, 2, 3, 4, 5, '헬로']

In [52]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [38]:
df['new_columns']

1     1
2     2
3     3
4     4
5     5
6    헬로
Name: new_columns, dtype: object

In [39]:
# DataFrame 행, 열 삭제

In [51]:
df = pd.DataFrame(np.arange(12).reshape(3, 4), columns=['A', 'B', 'C', 'D'])

In [41]:
df.drop(['B', 'C'], axis = 1, inplace=True)

In [42]:
df.drop([0, 1], axis=0)

   A   D
2  8  11

In [43]:
df

   A   D
0  0   3
1  4   7
2  8  11

In [44]:
df.loc[1, 'C']

KeyError: 'C'

In [45]:
df.loc[1, 'C'] = '육'

In [46]:
df

   A   D    C
0  0   3  NaN
1  4   7    육
2  8  11  NaN

In [47]:
df.iloc[1, 2] = 6

In [48]:
df

   A   D    C
0  0   3  NaN
1  4   7    6
2  8  11  NaN

In [ ]:
df

In [ ]:
df.iloc[:, 1] = "끝"

In [ ]:
df

In [ ]:
df.loc[:, 'B'] = '끝~'

In [ ]:
df

In [ ]:
os.listdir('.')

In [57]:
df[df[True, True, True, False, True]]

KeyError: (True, True, True, False, True)

In [58]:
df[(df['age']>= 30) & (df['age']<=40)]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist

In [59]:
df[(df['age']< 30) | (df['age']>40)]

    name  age      job
0   John   20  student
4  Brian   45  manager
5  Chris   25   intern

In [67]:
df[df['job'].apply(lambda x : x  in ['student', 'manager'])]

    name  age      job
0   John   20  student
4  Brian   45  manager

In [68]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [69]:
df = pd.DataFrame(np.arange(12).reshape(3, 4), columns=['A', 'B', 'C', 'D'])

In [70]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [73]:
df.drop(['B', 'C'], axis=1, inplace=True)

In [74]:
df

   A   D
0  0   3
1  4   7
2  8  11

In [75]:
df.drop([0, 1])

   A   D
2  8  11

In [76]:
df = pd.read_csv(friend_src, encoding='utf-8')

In [77]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [78]:
temp = df.copy()

In [79]:
temp

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [80]:
temp['age']

0    20
1    30
2    30
3    40
4    45
5    25
Name: age, dtype: int64

In [81]:
temp['age'] = 20

In [82]:
temp

    name  age        job
0   John   20    student
1  Jenny   20  developer
2   Nate   20    teacher
3  Julia   20    dentist
4  Brian   20    manager
5  Chris   20     intern

In [83]:
temp.loc[2, 'age'] = 27

In [84]:
temp

    name  age        job
0   John   20    student
1  Jenny   20  developer
2   Nate   27    teacher
3  Julia   20    dentist
4  Brian   20    manager
5  Chris   20     intern